{% load thumbnail %}
{% if events %}
  <div class="event">
  {% for e in events %}
    <div class="comment-one">

      <div class="tc_left user-img-s">
        {% if e.author.profile.mugshot %}
          <img src="{ thumbnail e.author.profile.mugshot 48x48 crop %}"></img>
        {% else %}
          <img src="{{ e.author.profile.get_mugshot_url }}" height="48" width="48"></img>
        {% endif %}
      </div>

      <div class="tc_right">
        <div>
              <a href="{% url userena_profile_detail e.author.username %}">{{ e.author.username }} </a>
        </div>

                在 {{ e.created|date:"Y-m-d H:i" }}
                {% if e.content_type.name == "projects" %}
                发起新的项目 <a href="{{ e.event.get_absolute_url }}">{{ e.event.title }}</a>
                <p>dd</p>
                {% else%}
                {% if e.content_type.name == "comment" %}
                        对　<a href="{{ e.event.content_object.get_absolute_url }}">{{ e.event.content_object.title }}</a> 评论道:
                  <p>{{ e.event.comment|safe }}</p>
　　　　                {% else %}
                          关注了新的项目 <a href="{{ e.event.project.get_absolute_url }}">{{ e.event.project.title }}</a>
                          <p>dddd</p>
                {% endif %}
                {% endif %}
          </div>
    </div>
  {% endfor %}
  </div>
{% endif %}

