{% extends "events/sub_base.html" %}

{% block main %}

{% block content_title %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url h_index %}">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url events_index %}">动态</a> <span class="divider">/</span>
        </li>
        <li class="active">全站动态</li>
    </ul>
{% endblock %}

{% if events %}
  <ul>
  {% for e in events %}
    <li>
      <a href="{% url userena_profile_detail e.author.username %}">{{ e.author.username }} </a>
    在 {{ e.created|date:"Y-m-d H:i" }}
    {% if e.content_type.name == "projects" %}
      发起新的项目 <a href="{{ e.event.get_absolute_url }}">{{ e.event.title }}</a>
    {% else%}
      关注了新的项目 <a href="{{ e.event.project.get_absolute_url }}">{{ e.event.project.title }}</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}

