<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>open lab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap-responsive.css" media="screen">
  <style type="text/css">
    body { padding-top: 60px; padding-bottom: 40px; }
  </style>
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url h_index %}">OpenLab</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active">
              <a href="{% url h_index %}">Home</a>
            </li>
            <li>
              <a href="{% url ws_index %}">Works</a>
            </li>
            <li>
              <a href="{% url ws_create %}">Create Works</a>
            </li>
            <li>
              <a href="#">about</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <a href="/accounts/signin/">登录</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    {% block main %}{% endblock %}
  </div>
  <hr>
  <div class="container-fluid">
    <footer>
      <p>&copy; openlab 2012 </p>
    </footer>
  </div>
  </body>
</html>
