<div>
  <h3><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h3>

  <p class="prj_image"> <img src="{{ MEDIA_URL }}/{{ p.image }}" ></img></p>
  {% if p.video %}
  <h4>『发起人的声音』</h4>
  <p>
    <div id="video">
      <embed class="video" src="{{ p.video }}" allowFullScreen="true" quality="high" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash">
    </div>
  </p>
  {% endif %}
  <h4>『项目内容』</h4>
  <p> {{ p.content_html|safe }}</p>
  {% if p.obj_tags %}
  <p><i class="icon-tags"></i> {% for tag in p.obj_tags %}
    <a href="#{{ tag }}"> {{ tag }} </a>
    {% endfor %}
  </p>
  {% else %}
    <p>None</p>
  {% endif %}
</div>
