{% extends "sub_base.html" %}
{% load thumbnail %}
{% load pagination_tags %}
{% load comments %}

{% block content_title %}
    <ul class="breadcrumb">
        <li>
                <a href="{% url h_index %}">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url prj_index %}">项目</a> <span class="divider">/</span>
        </li>
        <li class="active">{% if is_user_tag %}　{{ c_user }} 发布的项目中{% endif %}{% if tag %}含“<em><b>{{ tag }}</b></em>”的项目{% else %}所有项目{% endif %}</li>
    </ul>
{% endblock %}

{% block content %}
{% if prjs %}
  {% autopaginate prjs %}
  {% for p in prjs %}

    {% get_comment_count for projects.projects p.id as comment_count %}

    <p class="clearfix"></p>
    <table width="100%">
      <tbody>
        <tr class="item">
          <td width="200" valign="top">
            <a href="{{ p.get_absolute_url }}" title="{{ p.title }}"><img src="{{ p.image|thumbnail_url:'avatar'  }}" alt=""></a>
          </td>
          <td valign="top">
            <div class="pl2">
               <h4><a href="{{ p.get_absolute_url }}" title="{{ p.title }}">{{ p.title }}</a></h4>
            </div>
            <div>
              发起人：<a href="{% url userena_profile_detail p.creater.username %}">{{ p.creater.username }}</a>
              时间： {{ p.pub_date|date:"Y-m-d H:i" }}
            </div>
            <div>
               <p>{{ p.description_html|safe }}</p>
            </div>

            <div>
              关注数： {{ p.follower_count }} 评论数： {{ comment_count }}
            </div>
          </td>
        </tr>
     </tbody>
   </table>

  {% endfor %}
{% else %}
  <p>暂无数据</p>
{% endif %}


{% paginate %} <!-- 分页功能 -->

{% endblock %}

{% block sidebar %}
<h4>最新发布</h4>
<ul>
{% for p in new_prj %}
        <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
{% endfor %}
</ul>

<h4>热门讨论</h4>
{% if top_comments %}
  <ul>
    {% for ct in top_comments %}
      <li><a href="{{ ct.get_absolute_url }}">{{ ct.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

<h4>
{% endblock %}
