{% extends "sub_base.html" %}
{% load thumbnail %}
{% load pagination_tags %}


{% block content_title %}
    <ul class="breadcrumb">
        <li>
                <a href="{% url h_index %}">Home</a> <span class="divider">/</span>
        </li>
        <li class="active">项目</li>
    </ul>
{% endblock %}

{% block content %}
{% if prjs %}
  {% autopaginate prjs %}
  <div class="urllist">
  {% for p in prjs %}
  <ul class="projects_off">
    <li class="list01">
      <a href="{{ p.get_absolute_url }}" title="{{ p.title }}"><img src="{{ p.image|thumbnail_url:'avatar'  }}" alt="">{{ p.title }}</a>
    </li>
    <li class="list02"> <a href="{% url userena_profile_detail p.creater.username %}">{{ p.creater.username }}</a></li>
    <li class="list03">{{ p.description_html|safe }}</li>
    <li class="list04">
      <div class="projectstats">
        <p class="widtha">关注者<strong>xxx</strong></p>
      </div>
    </li>
  </ul>
  {% endfor %}
{% else %}
  <p>暂无数据</p>
{% endif %}
</div>

{% paginate %} <!-- 分页功能 -->

{% endblock %}

{% block sidebar %}
<h4>最新发布</h4>
<ul>
{% for p in new_prj %}
        <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
{% endfor %}
</ul>

<h4>热门讨论</h4>
{% if top_comments %}
  <ul>
    {% for ct in top_comments %}
      <li><a href="{{ ct.get_absolute_url }}">{{ ct.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

<h4>
{% endblock %}
