{% extends "sub_base.html" %}
{% load thumbnail %}
{% load comments %}
{% load i18n %}

{% block content_title %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url h_index %}">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url prj_index %}">项目</a> <span class="divider">/</span>
        </li>
        <li class="active">{{ p.title }}</li>
    </ul>
{% endblock %}

{% block content %}

  {% if p %}
    {% include "projects/_prj_page.html" %}
  {% else %}
    <p>页面不存在</p>
  {% endif %}

{% get_comment_list for projects.projects p.id as comment_list %}
{% get_comment_count for projects.projects p.id as comment_count %}

   <div class="prj-comments">
     <h4>共有 {{ comment_count }} 条评论</h4>
     {% for comment in comment_list %}
       <div class="comment-one">
         <div class="tc_left user-img-s">
           {% if comment.user.profile.mugshot %}
           <img src="{% thumbnail comment.user.profile.mugshot 48x48 crop%}"></img>
           {% else %}
           <img src="{{ comment.user.profile.get_mugshot_url }}" height="48" width="48"></img>
           {% endif %}
         </div>
         <div class="tc_right">
           <div> <a href="{% url userena_profile_detail comment.user.username %}">{{ comment.user.username }}</a></div>
           <div class="cc_reply">
             <a href="{% get_comment_permalink comment %}">#{{ forloop.counter }}</a>
             于 {{ comment.submit_date|timesince }} 前说道：
           </div>

           <div class="comment-content">{{ comment.comment|escape|linebreaks }}</div>
         </div>
        </div>
     {% endfor %}

     <h4>你想说... ...</h4>
     <div>
       {% render_comment_form for projects.projects p.id %} <a name="#c"></a>
     </div>
   </div>

{% endblock %}

{% block sidebar %}
{% ifnotequal user p.creater %}
{% if is_follow %}
  <a href="{% url prj_fd p.id %}" class="btn btn-primary">取消关注</a>
{% else %}
  <a href="{% url prj_f p.id %}" class="btn btn-primary">关注该项目</a>
{% endif %}
{% endifnotequal %}
<h4>项目信息</h4>
<p>
发起人：   <a href="{% url userena_profile_detail p.creater.username %}">{{ p.creater.username }}</a>

{% if p.creater == user %}
<a href="{% url prj_edit p.id %}">Edit</a>
{% endif %}
</p>
<p>关注次数： <span class="badge badge-info">{{ p.follower_count }}</span></p>
<p>发布时间： {{ p.pub_date|date:"Y-m-d H:i" }}</p>
<p>最后修改： {{ p.updated_date|date:"Y-m-d H:i" }}</p>
<p>项目描述：</p>
<p>{{ p.description_html|safe }}</p>

<h4>关于发起人</h4>
<p>共发起项目： <span class="badge badge-info">{{ p.pub_projects }}</span></p>
<p>他关注的项目： <span class="badge badge-info">{{ p.project_follow_count }}</span></p>
<p>发起人简介: </p>
{% if profile.about_me  %}
<p>{{ profile.about_me }}</p>
{% else %}
<p>暫无信息</p>
{% endif %}
<h4>相关项目</h4>
<ul>
        <li>...</li>
        <li>...</li>
</ul>

<h4>发起人其它项目</h4>
{% if p.other_prj %}
<ul>
  {% for opj in p.other_prj %}
        <li><a href="{{ opj.get_absolute_url }}">{{ opj.title }}</a></li>
  {% endfor %}
  </ul>
{% else %}
    <p>暂无其它项目的信息</p>
{% endif %}

{% endblock %}
