{% extends "sub_base.html" %}
{% load comments %}
{% load i18n %}

{% block content_title %}
    <ul class="breadcrumb">
        <li>
                <a href="{% url h_index %}">Home</a> <span class="divider">/</span>
        </li>
        <li class="active">项目</li>
    </ul>
{% endblock %}

{% block content %}

  {% if p %}
    {% include "projects/_prj_page.html" %}
  {% else %}
    <p>页面不存在</p>
  {% endif %}

{% get_comment_list for projects.projects p.id as comment_list %}
{% get_comment_count for projects.projects p.id as comment_count %}

   <div class="prj-comments">
     <h4>共有 {{ comment_count }} 条评论</h4>
     {% for comment in comment_list %}
       <p>
         <a href="{% get_comment_permalink comment %}">#{{ forloop.counter }}</a>
         <a href="#">{{ comment.user.username }}</a> 于 {{ comment.submit_date|timesince }} 前说道：
       </p>
       <p>{{ comment.comment|escape|linebreaks }}</p>
     {% endfor %}

     <h4>你想说... ...</h4>
     <div>
       {% render_comment_form for projects.projects p.id %} <a name="#c"></a>
     </div>
   </div>

{% endblock %}

{% block sidebar %}
<h4>项目信息</h4>
<p>
发起人：   {{ p.creater.username }}
<a href="{% url prj_edit p.id %}">Edit</a>
</p>
<p>发布时间： {{ p.pub_date|date:"Y-m-d H:i" }}</p>
<p>最后修改： {{ p.updated_date|date:"Y-m-d H:i" }}</p>
<p>项目描述：</p>
<p>{{ p.description_html|safe }}</p>

<h4>关于发起人</h4>
<p>共发起项目：＃＃＃</p>
<p>他关注的项目： ＃＃＃</p>
<p>发起人简介: </p>
{% if profile %}
<p>{{ profile.about_me }}</p>
{% else %}
<p>暫无信息</p>
{% endif %}
<h4>相关项目</h4>
<ul>
        <li>...</li>
        <li>...</li>
</ul>

<h4>发起人其它项目</h4>
<ul>
        <li>...</li>
        <li>...</li>
</ul>

{% endblock %}
