{% extends "base.html" %}

{% block title %} 创建新项目 {% endblock %}
{% block main %}

{% block content_title%}
    <ul class="breadcrumb">
        <li>
             <a href="{% url h_index %}">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url prj_index %}">项目</a> <span class="divider">/</span>
        </li>
        <li class="active">创建项目</li>
    </ul>
{% endblock %}

<form enctype="multipart/form-data" action="." method="post" id="prj_create_form" class="form-horizontal">
      <fieldset>
      {{ form.as_div }}
      <div class="form-actions">
        <p><input type="submit" value="创建项目" class="btn" name="submit" /></p>
      </div>
      </fieldset>
</form>

{% endblock %}


