#id_content {
    width: 64em;
    height: 36em;
}

#id_description {
    width: 64em;
    height: 12em;
}

.video {
    width: 85%;
    display: block;
    margin: 0 auto;
    height: 553px;
}

embed {
    outline: 0 none;
}


#id_title, #id_tags, #id_video {
    width: 28em;
}

.prj_image {
    text-align: center;
}