#id_content {
    width: 100%;
    height: 42em;
}

#id_description {
    width: 824px;
    height: 12em;
}

#id_comment {
    margin: 5px 0;
    width: 100%;
    height: 10em;
}

.video {
    width: 85%;
    display: block;
    margin: 0 auto;
    height: 553px;
}

embed {
    outline: 0 none;
}


#id_title, #id_tags, #id_video {
    width: 28em;
}

.prj_image {
    text-align: center;
}