{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{{ profile.user.username }} 的帐号信息{% endblock %}

{% block content_title %}
  <ul class="breadcrumb">
        <li>个人信息</li><span class="divider">/</span>
        <li class="active">个人信息</li>
  </ul>
{% endblock %}

{% block content %}
    <table width="100%">
      <tbody>
        <tr class="item">
          <td width="200" valign="top">
            <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
          </td>
          <td valign="top">
            <div>
              {% if profile.user.get_full_name %}
                <strong>昵称</strong>: {{ profile.user.get_full_name }}
              {% endif %}
              {% if profile.age != 0 %}
                <strong>年龄</strong>: {{ profile.age }}
              {% endif %}
              {% if profile.location %}
                <strong>来自</strong>: {{ profile.location }}
              {% endif %}
            </div>
            <div>
              {% if profile.website %}
                <strong>网站</strong>: <a href="{{ profile.website }}">{{ profile.website }}</a>
              {% endif %}
            </div>
            <div>
              {% if profile.about_me %}
                <strong>About me</strong><br />{{ profile.about_me }}
              {% endif %}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

<hr>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">发起的项目</a></li>
    <li><a href="#tab2" data-toggle="tab">关注的项目</a></li>
    <li><a href="#tab3" data-toggle="tab">Ta的标签</a></li>
    </ul>

    <div class="tab-content">
    <!-- tab1 -->
    <div class="tab-pane active" id="tab1">

    {% if profile.projects %}

    <ul>
    {% for p in profile.projects %}
      <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
      暂末发布任何内容
    {% endif %}

    </div>

    <!-- tab2 -->
    <div class="tab-pane" id="tab2">

    {% if profile.prj_follow %}
    <ul>
    {% for p in profile.prj_follow %}
      <li><a href="{{ p.project.get_absolute_url }}">{{ p.project.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
      暂末关注任何内容
    {% endif %}

    </div>

    <!-- tab3 -->
    <div class="tab-pane" id="tab3">
      {% if profile.user_tags %}
        <div id="tag-cloud">
        {% for tag in profile.user_tags %}
          <a class="tag-cloud-{{ tag.font_size }}" href="{% url prj_user_tag tag.name profile.user.username %}"">{{ tag.name }}</a>
        {% endfor %}
        </div>
      </ul>
      {% else %}
        <p>暂无tag.</p>
      {% endif %}
    </div>

    </div>
    </div> <!-- endtab -->

{% endblock %}
