{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{{ profile.user.username }} 的帐号信息{% endblock %}

{% block content_title %}
  <ul class="breadcrumb">
        <li>个人信息</li><span class="divider">/</span>
        <li class="active">个人信息</li>
  </ul>
{% endblock %}

{% block content %}


    <div id="details">
        <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        {% if profile.user.get_full_name %}
        <p><strong>昵称</strong><br /> {{ profile.user.get_full_name }}</p>
        {% endif %}
        {% if profile.age != 0 %}
        <p><strong>年龄</strong><br /> {{ profile.age }}</p>
        {% endif %}
        {% if profile.website %}
        <p><strong>网站</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
        {% endif %}
        {% if profile.location %}
        <p><strong>来自</strong><br />{{ profile.location }}</p>
        {% endif %}
        {% if profile.about_me %}
        <p><strong>About me</strong><br />{{ profile.about_me }}</p>
        {% endif %}
    </div>

<hr>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">发起的项目</a></li>
    <li><a href="#tab2" data-toggle="tab">关注的项目</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <p>
    {% if profile.projects %}

    <ul>
    {% for p in profile.projects %}
      <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
      暂末发布任何内容
    {% endif %}
    </p>
    </div>
    <div class="tab-pane" id="tab2">
    <p>
    {% if profile.prj_follow %}
    <ul>
    {% for p in profile.prj_follow %}
      <li><a href="{{ p.project.get_absolute_url }}">{{ p.project.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
      暂末关注任何内容
    {% endif %}
    </p>
    </div>
    </div>
    </div>

{% endblock %}
